body {
    font-family: 'Roboto', sans-serif !important;
    margin:20% !important;
}

h1{
    text-align: center;
    margin: 4% !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    font-size: 32px !important;
    color: #4e4e4e;
}

form{
    margin: 0 35%;
}

label{
    margin:0 !important;
    font-weight:100;
}

#inputTemperature, #inputTo{
    font-weight:100 !important;
}

.form-group {
    margin-bottom: 1.5rem !important;
}

.btn-primary{
    min-height: 40px;
}

.material-icons{
    vertical-align: bottom;
}

.result{
    text-align: center;
    font-size: 40px;
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
}